@import url(https://fonts.googleapis.com/css?family=Exo:400,500,500italic,400italic,600,600italic,700,700italic,800,800italic,300,300italic);

body {
  padding-top: 50px;
  text-align: center;
	/*background: ;*/
}

.login-form{width:590px;}
.login-title{font-family: 'Exo', sans-serif;text-align:center;color: #004481;font-size: 25px;}
.login-userinput{margin-bottom: 10px;}
.login-button{margin-top:10px;}
.login-options{margin-bottom:0px;}
.login-forgot{float: right; color: #004481; font-size: 12px;}
.login-new{float: left; color: #004481; font-size: 12px;}
.login-error{font-family: 'Exo', sans-serif;text-align:center;color: red;font-size: 12px;}


#principal {
display: block;
width: 500px;
margin: 50px auto;
padding: 50px;
text-align: center;
border: 1px solid #999999;
background: #DDDDDD;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
-moz-box-shadow: rgb(150,150,150) 5px 5px 10px;
-webkit-box-shadow: rgb(150,150,150) 5px 5px 10px;
box-shadow: rgb(150,150,150) 5px 5px 10px;
}
h2 {
font: bold 36px MiNuevaFuente, verdana, sans-serif, text-align:center, color: #004481;
text-shadow: rgb(0,0,150) 3px 3px 5px;
}

h3 {
font: bold 36px MiNuevaFuente, verdana, sans-serif, text-align:center, color: #028484;
text-shadow: rgb(0,0,150) 3px 3px 5px;
}

.template-structor {
  padding-top: 50px;
	background-color: #D4EDFC;
	border-radius: 15px;
	height: 370px;
	width: 380px;
  padding: 50px;
	position: relative;
	overflow: hidden;
  text-align: center;
  margin: 0 auto 100px;
}

.template-structor2 {
  padding-top: 50px;
	background-color: #D4EDFC;
	border-radius: 15px;
	height: 470px;
	width: 550px;
  padding: 50px;
	position: relative;
	overflow: hidden;
  text-align: center;
  margin: 0 auto 100px;
}

.template-structor3{
  padding-top: 50px;
	background-color: #D4EDFC;
	border-radius: 15px;
	height: 670px;
	width: 550px;
  padding: 50px;
	position: relative;
	overflow: hidden;
  text-align: center;
  margin: 0 auto 100px;
}

table {
    padding-top: 50px;
   width: 80%;
   border: 1px solid #000;
}
th, td {
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
}
caption {
   padding: 0.3em;
   color: #fff;
    background: #000;
}
th {
   background: #eee;
}
