<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="altacliente-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/index.css">

    <style>
      :host {
        display: block;
      }
    </style>

     <div class="template-structor2">
           <h3 class="login-title">Alta de Clientes</h2>
      <div class="row">
        <div class="col-md-12">
        <div class="col-auto">
          <br />
          <input type="text" value="{{cliente::input}}" placeholder="Cliente" >
          <br />
        </div>
      </div>
          <div class="col-md-12">
          <div class="col-auto">
            <br />
            <input type="text" value="{{cuenta::input}}" placeholder="Cuenta" >
            <br />
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-auto">
            <br />
            <input type="text" value="{{tipo::input}}" placeholder="Tipo de cuenta">
            <br />
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-auto">
            <br />
            <input type="text" value="{{descripcion::input}}" placeholder="Descripcion de la cuenta">
            <br />
          </div>
        </div>
        <div class="col-md-12">
          <br />
          <button on-click="guardar" class="btn btn-primary">Guardar</button>
          <br />
        </div>
      </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaclienteApp extends Polymer.Element {
      static get is() { return 'altacliente-app'; }
      static get properties() {
        return {
          cliente: {
            type: Number
          },
          cuenta: {
            type: Number
          },
          tipo: {
            type: String
          },
          descripcion: {
            type: String
          }
        };
      }

      mostrarError(){
        console.log(error);
        this.logado = false;
      }
    guardar(){
        var request = new XMLHttpRequest();
        request.open("POST", "http://localhost:3000/api/v1/cguardar", false)
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        request.setRequestHeader("cliente", this.cliente);
        request.setRequestHeader("cuenta", this.cuenta);
        request.setRequestHeader("tipo", this.tipo);
        request.setRequestHeader("descripcion", this.descripcion);
        var email = localStorage.getItem("usuarioLocal");
        request.setRequestHeader("email", email);
        request.send();

        this.respuesta = request.responseText;
        console.log(this.respuesta);
        if (request.status == 200){
          this.logado = true
          alert("Cliente registrado exitosamente")
          window.location="../../index2.html";
        } else {
          alert("No se pudo registrar el cliente")
        }
      }
}
    window.customElements.define(AltaclienteApp.is, AltaclienteApp);
  </script>
</dom-module>
