<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="altamovimiento-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/index.css">

    <style>
      :host {
        display: block;
      }
    </style>

    <div class="template-structor2">
      <h3 class="login-title">Alta de Movimiento de Cuenta</h2>
      <div class="row">
          <div class="col-md-12">
            <div class="col-auto">
                <br/>
                <input type="text" value="{{cuenta::input}}" placeholder="Cuenta" >
                <br/>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-auto">
                <br/>
                <input type="text" value="{{cliente::input}}" placeholder="Cliente" >
                <br/>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-auto">
                <br/>
                Fecha:  <input type="date" value="{{fecha::input}}">
                <br/>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-auto">
                <br/>
                <input type="number" value="{{importe::input}}" placeholder="Importe">
                <br/>
            </div>
          </div>
          <div class="col-md-12">
              <div class="col-auto">
                <br/>
                <input type="text" value="{{tipo::input}}" placeholder="Tipo de movimiento">
                <br/>
              </div>
          </div>
          <div class="col-md-12">
              <br/>
              <button on-click="guardar" class="btn btn-primary">Guardar</button>
              <br/>
          </div>
      </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
  class AltamovimientoApp extends Polymer.Element {
      static get is() { return 'altamovimiento-app'; }
      static get properties() {
        return {
          cuenta: {
            type: Number
          },
          cliente: {
            type: Number
          },
          fecha: {
            type: Date
          },
          importe: {
            type: Number
          },
          tipo: {
            type: String
          }
        };
      }

      guardar(){
        var request = new XMLHttpRequest();
        request.open("POST", "http://localhost:3000/api/v1/mguardar", false)
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        request.setRequestHeader("cuenta", this.cuenta);
        request.setRequestHeader("cliente", this.cliente);
        request.setRequestHeader("fecha", this.fecha);
        request.setRequestHeader("importe", this.importe);
        request.setRequestHeader("tipo", this.tipo);
        var email = localStorage.getItem("usuarioLocal");
        request.setRequestHeader("email", email);
        request.send();

        this.respuesta = request.responseText;
        if (request.status == 200){
          this.logado = true
          alert("Movimiento registrado exitosamente")
          window.location="../../index2.html";
        } else {
          alert("No se pudo registrar el movimiento")
        }
      }
    }
    window.customElements.define(AltamovimientoApp.is, AltamovimientoApp);
  </script>

</dom-module>
