<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">

    <style>
      :host {
        display: block;
      }
    </style>

    <div class="template-structor">
      <h2 class="login-title">Ingresar</h2>
      <br/>
      <div class="row">
          <div class="col-md-12">
            <div class="col-auto">
              <input type="email" value="{{email::input}}" placeholder="Email" >
              <br/>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-auto">
              <br/>
              <input type="password" value="{{password::input}}" placeholder="Password">
              <br/>
            </div>
          </div>
          <div class="col-md-12">
            <br/>
            <button on-click="logar" class="btn btn-primary">Login</button>
            <br/>
          </div>
      </div>
      <div class="checkbox login-options">
        <br/>
        <br/>
        <a href="alta-usuario.html" class="login-new"> Registrar Usuario</a>
        <a href="recupera.html" class="login-forgot">Recuperar Password</a>
      </div>
    </div>
  </template>
  <script>
  class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
              email: {
              type: String
          },
              password: {
              type: String
          }        };
      }

      logar(){
        console.log("Se ha pulsado el boton de Login");
        var request = new XMLHttpRequest();
        request.open("POST", "http://localhost:3000/api/v1/login2", false)
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        request.setRequestHeader("email", this.email);
        request.setRequestHeader("password", this.password);

        request.send();

        this.respuesta = request.responseText;
        if (request.status == 200){
          localStorage.setItem("usuarioLocal", this.email);
          window.location="./index2.html";
        } else {
          alert("Email o password incorrectos")
        }
      }
  }
  window.customElements.define(LoginApp.is, LoginApp);
  </script>
  <script src="/js/login.js"></script>

</dom-module>
