<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="recupera-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">

    <style>
      :host {
        display: block;
      }
    </style>

   <div class="template-structor">
      <h2 class="login-title">Recupera Contraseña</h2>
      <div class="row">
        <div class="col-md-12">
          <div class="col-auto">
            <br/>
            <input type="email" value="{{email::input}}" placeholder="Email" >
            <br/>
          </div>
        </div>
        <div class="col-md-12">
            <br/>
            <button on-click="logar" class="btn btn-primary">Recuperar</button>
            <a class="btn btn-primary" href="index.html" role="button">Cancelar</a>
        </div>
      </div>
    </div>
  </template>

  <script>
    class RecuperaApp extends Polymer.Element {
      static get is() { return 'recupera-app'; }
      static get properties() {
        return {
            email: {
            type: String
          },
            password: {
            type: String
          }
        };
      }

      logar(){
        var request = new XMLHttpRequest();
        request.open("POST", "http://localhost:3000/api/v1/recupera", false)
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        request.setRequestHeader("email", this.email);

        request.send();

        this.respuesta = request.responseText;
        if (request.status == 200){
          alert("La contraseña se envio a tu correo")
          window.location="./index.html";
        } else {
          alert("Usuario no encontrado, favor de validar")
        }
      }
    }
    window.customElements.define(RecuperaApp.is, RecuperaApp);
  </script>
  <script src="/js/login.js"></script>
</dom-module>
