<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">

    <style>
      :host {
        display: block;
      }
    </style>

   <div class="template-structor2">
     <h2 class="login-title">Alta de Usuario</h2>
     <div class="row">
       <div class="col-md-12">
         <div class="col-auto">
           <br />
           <input type="text" value="{{nombre::input}}" placeholder="Nombre" >
           <br />
         </div>
       </div>
       <div class="col-md-12">
         <div class="col-auto">
           <br />
           <input type="text" value="{{apellido::input}}" placeholder="Apellido" >
           <br />
         </div>
       </div>
       <div class="col-md-12">
         <div class="col-auto">
           <br />
           <input type="email" value="{{email::input}}" placeholder="Email" >
           <br />
         </div>
       </div>
       <div class="col-md-12">
         <div class="col-auto">
           <br />
           <input type="password" value="{{password::input}}" placeholder="Password">
           <br />
         </div>
       </div>
       <div class="col-md-12">
         <br />
         <button on-click="logar" class="btn btn-primary">Registrar</button>
         <a class="btn btn-primary" href="index.html" role="button">Cancelar</a>
         <br />
      </div>
      </div>
    </div>
  </template>
  <script>

  class AltaApp extends Polymer.Element {
    static get is() { return 'alta-app'; }
    static get properties() {
      return {
          nombre: {
          type: String
          },
          apellido: {
          type: String
          },
          email: {
          type: String
          },
          password: {
          type: String
          }
        };
      }

    logar(){
        console.log("Se ha pulsado el boton de Login");
        var request = new XMLHttpRequest();
        request.open("POST", "http://localhost:3000/api/v1/registra", false)
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        request.setRequestHeader("nombre", this.nombre);
        request.setRequestHeader("apellido", this.apellido);
        request.setRequestHeader("email", this.email);
        request.setRequestHeader("password", this.password);

        request.send();

        this.respuesta = request.responseText;
        if (request.status == 200){
          alert("Usuario registrado exitosamente");
          window.location="./index.html";
        } else {
          alert("No se pudo registrar el usuario");
        }
      }
  }
  window.customElements.define(AltaApp.is, AltaApp);
  </script>
</dom-module>
